stages:
  - build


build:
  variables:
    PLATFORMS: "linux/amd64,linux/arm64,linux/i386,linux/armhf,linux/ppc64el,linux/s390x"
  stage: build
  image: registry.gitlab.com/jitesoft/dockerfiles/misc:latest
  script:
    - TAGS=$(helper "${CI_REGISTRY_IMAGE},jitesoft/pinginit" "latest,1.0.0,${CI_COMMIT_SHA:0:6}")
    - docker buildx build --platform ${PLATFORMS} --push ${TAGS} --progress plain .
  tags:
    - jitesoft
    - protected
    - buildx
